# Standard environment variables for building the projects images
BACKEND_IMAGE_NAME=investmentanlage/vp-digital-investment-backend
FRONTEND_IMAGE_NAME=investmentanlage/vp-digital-investment-frontend
